*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #282828;
}
   .formContainer{
      width: 80vw;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%,-0%);
      padding: 30px;
      border: 4px solid #191919;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);

   }
   #form, #convention, #observation, #partenaire, #secteur,#province{

      display: flex;
     justify-content: center;
     font-family: monospace;
     display: block;
   }
 #form input,#convention input,#partenaire input,#observation input ,#secteur input, #province input{
background-color: inherit;
outline: none;
border: none;
color: #ECEFF1;
    border-bottom: 2px solid #FBC02D;
    padding-left: 10px;
    width: 100%;
   }

  label{
    width:100%;
    text-align: center;
    color: yellow;
    font-size: 20px;

   }
   h1{
    text-align: center;
    color: #FBC02D;
   }
     #form button , .btna{
            width: 130px;
            height: 50px;
            letter-spacing: 1px;
            margin-left:20vw ;
            margin-top: 10px;
            padding: 13px 20px 13px;
            outline: 0;
            border: 1px solid black;
            cursor: pointer;
            position: relative;
            background-color: rgba(0, 0, 0, 0);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
          }

          #form button:after ,.btna:after{
            content: "";
            background-color: #ffe54c;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 7px;
            left: 7px;
            transition: 0.2s;
          }
         #form button:hover:after, .btna:hover:after {
            top: 0px;
            left: 0px;
          }
           /******************* convention ********************/
           #convention,#observation,#partenaire , #secteur,#province{
            padding: 20px;
           }
    #convention div, #observation div , #partenaire div, #secteur div ,#province div{
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: center;

        
        display: flex;
        justify-content:space-between;
         }
         #convention div label, #observation div label, #partenaire div label,#secteur div label , #province div label{
            text-align: left;
            padding-left: 5px;
            width: 250px;
            padding: 0;
            font-size:20px;
         }
         
          div select{
            background-color: yellow;
            width: 100px
           }
           /****************************************************/
           .logina{
         width: 80vw;
      position: absolute;
        top:65%;
      left: 50%;
      transform: translate(-50%,-50%);
          
           }
           .man{
            color:white;
           position:absolute;
           left:50%;
           transform:translate(-50%,0%);
           height:200px;
  
            }
          .man img{
            width:100px;
            height:100px;
            margin:auto;
            display:block;


          }
         
           .man p{
            margin: 0;
            font-size: 12px;
            text-align: center;

           }