<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" i
        ntegrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('styles/decore.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>  
     <div  class="man" >
    <img 
    src="{{ asset('build/images/bird.png') }}" alt="ACME logo">
    <p>ROYAUME DU MAROC</p>
    <p>MINISTERE DE L'INTERIEUR</p>
    <p>WILAYA DE LA REGION BENI MELLAL KHENIFRA</p> 
    <p>CONSEIL REGIONAL DE BENI MELLAL KHENIFRA</p>
    <p>AGENCE REGIONALE D'EXECUTION DES PROJETS</p>
    <p>REGION BENI MELLAL KHENIFRA</p>
     </div>
        {% block body %}
     
        
        
        
        {% endblock %}
    </body>
</html>
